*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container{
	width: 80vw;
	max-width: 35.7em;
	padding: 3em 2.5em;
	border-radius: 0.62em;
	box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}

#search{
	width: 70%;
	border:0;
	outline: 0;
	height: 40px;
	box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
	text-indent: 10px;
	font-size: 16px;

}
.form{
	display: flex;
}
button{
	margin-left: 5px;
	width: 30%;
	height: 40px;
	font-size: 18px;
	border-radius:10px ;
	border:0;
	outline: 0;
	background: #262626;
	color: #fff;
	cursor: pointer;
}

#result{
	margin-top: 1.25em;
}
.container .flag-img{
	display: block;
	width:45%;
	min-width: 7.5em;
	margin:auto;
}
.container h2{
	color: #222a43;
	letter-spacing: 2px;
	margin-bottom: 1.8em;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
}
.data-wrapper{
	margin-bottom: 1em;
	letter-spacing: 0.3px;

}
.container h4{
	display: inline;
	font-weight: 500;
	color: #222a43;
}
.container span{
	color: #5d6274;
}
.container h3{
	text-align: center;
}
.coat-img{
	display: block;
	width: 100px;
	height: 100px;
	min-width: 7.5em;
	margin: auto;
}
